{% extends 'base.html' %}

{% block layout %}
    <div id="card">  
        <table id="sortTableSmall">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Blood Type</th>
                <th>Eye Color</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="First Name"> John</td>
                <td data-label="Last Name">Doe</td>
                <td data-label="Address">123 Main Street</td>
                <td data-label="City">Anytown</td>
                <td data-label="State">MN</td>
                <td data-label="Zip"> 12345</td>
                <td data-label="Height">5"8</td>
                <td data-label="Weight">150 lb</td>
                <td data-label="Blood Type">O</td>
                <td data-label="Eye Color">Hazel</td>
            </tr>
            <tr>
                <td data-label="First Name"> John</td>
                <td data-label="Last Name">Doe</td>
                <td data-label="Address">123 Main Street</td>
                <td data-label="City">Anytown</td>
                <td data-label="State">MN</td>
                <td data-label="Zip"> 12345</td>
                <td data-label="Height">5"8</td>
                <td data-label="Weight">150 lb</td>
                <td data-label="Blood Type">O</td>
                <td data-label="Eye Color">Hazel</td>
            </tr>
            <tr>
                <td data-label="First Name"> John</td>
                <td data-label="Last Name">Doe</td>
                <td data-label="Address">123 Main Street</td>
                <td data-label="City">Anytown</td>
                <td data-label="State">MN</td>
                <td data-label="Zip"> 12345</td>
                <td data-label="Height">5"8</td>
                <td data-label="Weight">150 lb</td>
                <td data-label="Blood Type">O</td>
                <td data-label="Eye Color">Hazel</td>
            </tr>
            <tr>
                <td data-label="First Name"> John</td>
                <td data-label="Last Name">Doe</td>
                <td data-label="Address">123 Main Street</td>
                <td data-label="City">Anytown</td>
                <td data-label="State">MN</td>
                <td data-label="Zip"> 12345</td>
                <td data-label="Height">5"8</td>
                <td data-label="Weight">150 lb</td>
                <td data-label="Blood Type">O</td>
                <td data-label="Eye Color">Hazel</td>
            </tr>
            <tr>
                <td data-label="First Name"> John</td>
                <td data-label="Last Name">Doe</td>
                <td data-label="Address">123 Main Street</td>
                <td data-label="City">Anytown</td>
                <td data-label="State">MN</td>
                <td data-label="Zip"> 12345</td>
                <td data-label="Height">5"8</td>
                <td data-label="Weight">150 lb</td>
                <td data-label="Blood Type">O</td>
                <td data-label="Eye Color">Hazel</td>
            </tr>
            <tr>
                <td data-label="First Name"> John</td>
                <td data-label="Last Name">Doe</td>
                <td data-label="Address">123 Main Street</td>
                <td data-label="City">Anytown</td>
                <td data-label="State">MN</td>
                <td data-label="Zip"> 12345</td>
                <td data-label="Height">5"8</td>
                <td data-label="Weight">150 lb</td>
                <td data-label="Blood Type">O</td>
                <td data-label="Eye Color">Hazel</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock layout %}
    
