{% extends 'index.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='List of Invoices' path='Invoices' %}
{% endblock breadcrumb %}

{% block content %}
    
    {% csrf_token %}

    <div class="contentContainer">
        {% url 'isis:invoice_delete' as delete %}
        {% url 'isis:invoice_create' as create %}
        {% url 'isis:invoice_list' as redirect %}
        
        {% include 'isis/utilities/new_delete_extra_buttons.html' with table_id='#sortTableExtraLarger' delete_url=delete redirect_url=redirect create_url=create %}
        
        <hr>

        {% csrf_token %}
        {% crispy search_form %}

        <table id="sortTableExtraLarger" class="table table-striped display">
            <thead>
                <tr class="p-0 m-0">
                    <th style="padding-left: 11px;">
                        <input type="checkbox" id="checkall" name="main_Checkbox" 
                        value="" style="vertical-align: middle"> 
                    </th>
                    <th>{% trans "Invoice" %}</th>
                    <th>{% trans "Costumer" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Due Date" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Paid" %}</th>
                    <th>{% trans "Pending" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in object_list %}
                    <tr data-id="{{ obj.id }}" class="row{{ obj.id }}">
                        <td with="10"> <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                            value="" style="vertical-align: middle">
                        </td>
                        <td> 
                            <a href="{% url 'isis:invoice_update' obj.slug %}" 
                                class="aler-link">{{ obj.name }}  
                            </a>
                        <td>{{ obj.costumer }}</td>
                        <td>{{ obj.date }}</td>
                        <td>{{ obj.due_date }}</td>
                        <td>{{ obj.total }}</td>
                        <td>{{ obj.paid }}</td>
                        <td>{{ obj.pending }}</td>
                        <td> 
                            {% if obj.active_status %}
                                {% trans "Active" %}
                            {% else %}
                                {% trans "Not Active" %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'isis:invoice_update' obj.slug %}" 
                                    class="fa fa-pencil btn btn-secondary">
                                    {% trans 'Modify' %} 
                            </a> 
                            <a href="{% url 'isis:invoice_details' obj.slug %}" 
                                    class="fa fa-eye btn btn-secondary">
                                    {% trans 'Details' %} 
                            </a> 
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    
