{% extends 'index.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='List of Invoices' path='Invoices' %}
{% endblock breadcrumb %}

{% block content %}
    
    {% csrf_token %}
    <div class="contentContainer">
        {% url 'isis:invoicing_delete' as delete %}
        {% url 'isis:invoicing_create' as create %}
        {% url 'isis:invoicing_list' as redirect %}
        
        {% include 'isis/utilities/new_delete_extra_buttons.html' with table_id='#sortTableExtraLarger' delete_url=delete redirect_url=redirect create_url=create %}
        
        <hr>

        {% csrf_token %}
        {% crispy search_form %}

        <table id="sortTableExtraLarger" class="table table-striped display responsive nowrap" 
        width="100%">
        <thead>
            <tr class="p-0 m-0">
                <th style="padding-left: 11px;">
                    <input type="checkbox" id="checkall" name="main_Checkbox" 
                    value="" style="vertical-align: middle"> 
                </th>
                <th>{% trans "Document" %}</th>
                <th>{% trans "Costumer" %}</th>
                <th class="text-end">{% trans "Amount" %}</th>
                <th class="text-end">{% trans "Paid" %}</th>
                <th class="text-end">{% trans "Debit" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>

            {% for obj in object_list %}
                <tr data-id="{{ obj.id }}" class="row{{ obj.id }}
                {% if obj.is_paid %}
                    table-success    
                {% else %}
                    table-warning
                {% endif %}"
                >
                    <td with="10" > <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                        value="" style="vertical-align: middle">
                    </td>
                    <td data-label="Invoice"> 
                        <a href="{% url 'isis:invoicing_update' obj.slug %}" 
                            class="aler-link">{{ obj.name }}  
                        </a>
                    <td data-label="Costumer">{{ obj.costumer }}</td>
                    <td data-label="Total" class="text-end">{{ obj.total | floatformat:2 |intcomma }}</td>
                    <td data-label="Paid" class="text-end">{{ obj.credit | floatformat:2 |intcomma }}</td>
                    <td data-label="Debit" class="text-end">{{ obj.debit | floatformat:2 |intcomma }}</td>
                    <td data-label="Status"> 
                        {% if obj.active_status %}
                            {% trans "Active" %}
                        {% else %}
                            {% trans "Not Active" %}
                        {% endif %}
                    </td>
                    <td data-label="Actions">
                        <a href="{% url 'isis:invoicing_update' obj.slug %}" 
                                class="fa fa-pencil btn btn-secondary">
                            
                        </a> 
                        <a href="{% url 'isis:invoicing_details' obj.slug %}" 
                                class="fa fa-eye btn btn-secondary">
                            
                        </a>
                        <a href="{% url 'isis:invoicing_show' obj.slug %}" 
                                class="fa fa-print btn btn-secondary">
                            
                        </a>  
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
{% endblock content %}
    
