{% extends 'index.html' %}

{% load static %}
{% load i18n %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='List of Receipts' path='Receipts' %}
{% endblock breadcrumb %}

{% block content %}
    
    {% csrf_token %}

    <div class="contentContainer">
        {% url 'isis:receipt_delete' as delete %}
        {% url 'isis:receipt_create' as create %}
        {% url 'isis:receipt_list' as redirect %}
        
        {% include 'isis/utilities/new_delete_extra_buttons.html' with table_id='#sortTableLarge' delete_url=delete redirect_url=redirect create_url=create %}
        
        <hr>

        <table id="sortTableLarge" class="table table-striped display responsive nowrap">
            <thead>
                <tr class="p-0 m-0">
                    <th style="padding-left: 11px;">
                        <input type="checkbox" id="checkall" name="main_Checkbox" 
                        value="" style="vertical-align: middle"> 
                    </th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Costumer" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in object_list %}
                    <tr data-id="{{ obj.id }}" class="row{{ obj.id }}
                    
                    {% if obj.is_finished %}
                        table-success
                    {% else %}
                        table-warning
                    {% endif %}
                        
                    ">
                        <td with="10"> <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                            value="" style="vertical-align: middle">
                        </td>
                        <td> 
                            <a href="{% url 'isis:receipt_update' obj.slug %}" 
                                class="aler-link">{{ obj.name }}  
                            </a>
                        </td>
                        <td>{{ obj.costumer.name }}</td>
                        <td>{{ obj.date_created }}</td>
                        <td> 
                            {% if obj.active_status %}
                                {% trans "Active" %}
                            {% else %}
                                {% trans "Not Active" %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'isis:receipt_update' obj.slug %}" 
                                    class="fa fa-pencil btn btn-secondary">
                                    
                            </a> 
                            <a href="{% url 'isis:receipt_details' obj.slug %}" 
                                    class="fa fa-eye btn btn-secondary">
                            </a> 
                            <a href="{% url 'isis:receipt_show' obj.slug %}" 
                            class="fa fa-print btn btn-secondary">
                    </a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    
