{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'New Component' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='New Component' path='New Component' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'asset_app/modals/modal.html' with title="Add Maintenance Schedule" template='asset_app/modals/maintenance_schedule_modal.html' %}

{% endblock content %}
