{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'New Position' %} {% endblock title %}

{% block breadcrumb %}
{% include 'breadcrumb.html' with title='New Position' path='<a href="/positions/"> Positions </a>' dest='New Position' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'asset_app/modals/modal.html' with title="Add Branch" template='asset_app/modals/branch_modal.html' id='branch' %}
{% endblock content %}
