{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'New SubType' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='New SubType' path='<a href="/subtypes/"> SubTypes </a>' dest='New SubType' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'asset_app/modals/modal.html' with title="Add Type" template='asset_app/modals/type_modal.html' id='type' %}
    
{% endblock content %}
