{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'New System' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='New System' path='<a href="/systems/"> Systems </a>' dest='New System' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'asset_app/modals/modal.html' with title="Add Group" template='asset_app/modals/group_modal.html' id='group' %}
    
{% endblock content %}
