{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'New Type' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='New Type' path='<a href="/types/"> Types </a>' dest='New Type' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'asset_app/modals/modal.html' with title="Add System" template='asset_app/modals/system_modal.html' id='system' %}
    
{% endblock content %}
