# ignore a single file


# ignore an entire directory
app_env/
app_venv/
.vscode/
.git/
media/

# ignore a file type
*.spec
*.exe
*.png
*.jpg
*.css
*.ico
*.spec
*.txt
*.pyc
*.qrc
*.svg
*.ui
*.qss
*.bmp
*.INFO

