# ignore a single file


# ignore an entire directory
media/
env/
.vscode/
.git/
virtual/

# ignore a file type
*.spec
*.exe
*.json
*.png
*.jpg
*.css
*.ico
*.spec
*.md
*.txt
*.pyc
*.qrc
*.svg
*.ui
*.qss
*.bmp
*.INFO

