{% extends 'index.html' %}

{% load humanize %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='Stock Summary' path='Stock' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        
        {% csrf_token %}
        {% crispy search_form %}

        <table id="sortTableExtraLarger" class="table table-striped display responsive nowrap">
            <thead>
                <tr class="p-0 m-0">
                    <th style="padding-left: 11px;">
                        <input type="checkbox" id="checkall" name="main_Checkbox" 
                        value="" style="vertical-align: middle"> 
                    </th>
                    <th>{% trans "Code" %}</th>
                    <th>{% trans "Product" %}</th>
                    <th class="text-end">{% trans "Min. Stock" %}</th>
                    <th class="text-end">{% trans "Max. Stock" %}</th>
                    <th class="text-end">{% trans "Disared Stock" %}</th>
                    <th class="text-end">{% trans "Quantity" %}</th>
                    <th class="text-end">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in object_list %}
                    <tr data-id="{{ obj.id }}" class="row{{ obj.id }}">
                        <td with="10"> <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                            value="" style="vertical-align: middle">
                        </td>

                        <td> {{ obj.code }} </td>
                        <td> {{ obj.name }} </td>
                        <td class="text-end"> {{ obj.min_stock | floatformat:2 |intcomma }}</td>
                        <td class="text-end">{{ obj.stock_limit | floatformat:2 |intcomma }}</td>
                        <td class="text-end">{{ obj.desired_stock | floatformat:2 |intcomma }}</td>
                        <td class="text-end">
                            {% if obj.qt %} 
                                {{ obj.qt | floatformat:2 | intcomma }}
                            {% else %}
                                {{ 0 | floatformat:2 |intcomma }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'stock:stock_item_list' obj.slug  %}" 
                            class="btn btn-primary fa fa-list"></a>
                            <a href="{% url 'isis:product_details' obj.slug  %}" 
                            class="btn btn-primary fa fa-eye"></a>
                            <a href="{% url 'isis:product_update' obj.slug  %}" 
                            class="btn btn-default fa fa-pencil"></a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    
