{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'Update Product' %} {% endblock title %}

{% block breadcrumb %}
{% include 'breadcrumb.html' with title='Update Product' path='<a href="/products/"> Products </a>' dest='Update Product' %}
{% endblock breadcrumb %}
            
{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="conteiner-fluid p-10 m-0" id="results"></div>
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>

    {% include 'modal.html' with title="Add Tax" template='isis/modals/tax_modal.html' id='tax' %}
    {% include 'modal.html' with title="Add Category" template='isis/modals/category_modal.html' id='category' %}
    {% include 'modal.html' with title="Add Warehouse" template='isis/modals/warehouse_modal.html' id='warehouse' %}

{% endblock content %}
