{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %} {{ block.super }} | Registro {% endblock title %}

{% block content %}

    <!-- Contact Info -->
     <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4 offset-4" style="margin: 50px; padding: 10px; 
        border-radius: 5px; border: 1px solid #b5aec4;">
            <p> {% trans 'Sign Up for SIANNA' %}  </p>
            <hr>
            <form id="register_form" method="post" class="form-stacked">
                {% csrf_token %}
    			{% crispy form %}
                {% if cancel_url %}
                    ou <a href="{{ cancel_url }}">Cancel</a>.
                {% endif %}
            </form>
    	</div>
	 </div>

{% endblock content %}
