{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'Update Company' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='Update Company' path='<a href="/companies/"> Companies</a>' dest='Update Company' %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}
