{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'Update Maintenance' %} {% endblock title %}

{% block breadcrumb %}
{% include 'breadcrumb.html' with title='Update Maintenance' path='<a href="/maintenances/"> Maintenances </a>' dest='Update Maintenance' %}
{% endblock breadcrumb %}
            
{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="conteiner-fluid p-10 m-0" id="results"></div>
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
        
        {% include 'asset_app/partials/action_item_list.html' %}
    </div>

    <script language="javascript" type="text/javascript">
        document.getElementById('id_update').value = 'update'
    </script>
{% endblock content %}
