{% extends 'index.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load i18n %} 

{% block title %} {{ block.super }} | {% trans 'Maintenances Dashboard' %} {% endblock title %} {% block content %}

<div class="contentContainer">
    <div class="row">
        
        <div class="col-md-12">
            <a href="{% url 'asset_app:maintenance_list' %}" 
            class="btn btn-primary">{% trans 'All Maintenances' %}: <strong>{{ total }}</strong></a>
        </div>
        
        <div class="col-md-8">
            
            <h6 style="text-align:center; background-color:
                #c0d0e0; padding: 10px; margin-top: 10px; border-radius: 5px 5px 0px 0px;"> 
                {% trans 'Last 15 Maintenances' %} 
            </h6>
        
            <table id="sortTableLarge" class="table table-striped display responsive nowrap">
                <thead>
                <tr class="p-0 m-0">
                    <th>Maintenance</th>
                    <th>Type</th>
                    <th>Frequency</th>
                    <th>Time Allocated</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in last %}
                <tr data-id="{{ obj.id }}" class="row{{ obj.id }}">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.type }}</td>
                    <td>{{ obj.frequency }} ({{ obj.schedule }})</td>
                    <td>{{ obj.time_allocated }} ({{ obj.time_schedule }})</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        

        <div class="col-md-4">
        <canvas id="maintenance_chart" width="200" height="110"></canvas>
        </div>

    </div>
</div>
<script type="text/javascript">
    var maintenance_data = [{{ routine }}, {{ preventive }}, {{ corrective }} , {{ predective }}]
    
    createDoughnutChart(['Routine','Preventive','Corrective','Predective'], 
    maintenance_data, 'List of Maintenances', "Maintenance Types", 'maintenance_chart');
    
</script>
{% endblock content %}
