{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'Group Details' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='Group Details' path='<a href="/groups/"> Groups</a>' dest='Details'  %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% if data.image.url %}
                    <img src="{{ data.image.url }}">
                {% endif %}
                <h1>{{ data.name }}</h1>
                <hr>
                <h6>{% trans 'Notes' %}: <strong>{{ data.notes }}</strong></h6>
                
                <hr>
                <p>{% trans 'Created on' %}: <i>{{ data.date_created}}</i></p>
                <p>{% trans 'Creted by' %}: <i>{{ data.created_by }}</i></p>
                <p>{% trans 'Modified on' %}: <i>{{ data.date_modified }}</i></p>
                <p>{% trans 'Modified by' %}: <i>{{ data.modified_by }}</i></p>
                
            </div>
        </div>
    </div>
{% endblock content %}
