{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'Maintenance Details' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='Maintenance Details' path='<a href="/maintenances/"> Maintenances</a>' dest='Details'  %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                {% if maintenance.image.url %}
                    <img src="{{ maintenance.image.url }}">
                {% endif %}
                <h1>{{ maintenance.name }}</h1>
                <a href="{% url 'asset_app:maintenance_create' %}" 
                    class="fa fa-plus-circle btn btn-primary">
                    {% trans 'New' %} 
                </a> 
                <a href="{% url 'asset_app:maintenance_update' maintenance.slug %}" 
                    class="fa fa-pencil btn btn-secondary">
                    {% trans 'Modify' %} 
                </a> 
                <a href="{% url 'asset_app:maintenance_list' %}" 
                    class="fa fa-list btn btn-info">
                    {% trans 'List' %} 
                </a> 
                <hr>
                <h6>{% trans 'Maintenance Actions' %}: <strong> {{ maintenance.action }} </strong></h6>
                <h6>{% trans 'Maintenance Type' %}: <strong> {{ maintenance.type }} </strong></h6>
                <h6>{% trans 'Maintenance frequency' %}: <strong> {{ maintenance.frequency }} ({{ maintenance.schedule }}) </strong></h6>
                <h6>{% trans 'Time Allocated' %}: <strong> {{ maintenance.time_allocated }} ({{ maintenance.time_schedule }})</strong></h6>
                <h6>{% trans 'Notes' %}: <strong> {{ maintenance.notes }} </strong></h6>
                <hr>
                <p>{% trans 'Created on' %}: <i> {{ maintenance.date_created}} </i></p>
                <p>{% trans 'Creted by' %}: <i> {{ maintenance.created_by }} </i></p>
                <p>{% trans 'Modified on' %}: <i> {{ maintenance.date_modified }} </i></p>
                <p>{% trans 'Modified by' %}: <i> {{ maintenance.modified_by }} </i></p>
            </div>
        </div>
        {% csrf_token %}
        {% include 'asset_app/partials/action_item_list.html' %}
        
    </div>
{% endblock content %}
