<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<a class="navbar-brand" href="index.html">
    <!-- Logo icon -->
    <b class="logo-icon">
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <!--
            <img src="{% static 'assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
        -->
    
        <p class="panel-text" style="color: #11aaff; font-size: 24px;">SIANNA</p>
            
    </b>
    <!--End Logo icon -->
    <!-- Logo text 
    <span class="logo-text">
        
        
        <img src="{% static 'assets/images/logo-text.png" alt="homepage" class="dark-logo" />

    </span>
    -->
</a>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->
<!-- ============================================================== -->