{% load static %}

<!-- ============================================================== -->
<!-- Recent maintenance -->
<!-- ============================================================== -->
<div class="row justify-content-center">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="panel">
            <img class="panel-img-top img-responsive" src="{% static 'assets/images/big/img1.jpg' %}" alt="Card">
            <div class="panel-body">
                <ul class="list-inline d-flex align-items-center">
                    <li class="ps-0">20 May 2021</li>
                    <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                </ul>
                <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="panel">
            <img class="panel-img-top img-responsive" src="{% static 'assets/images/big/img2.jpg' %}" alt="Card">
            <div class="panel-body">
                <ul class="list-inline d-flex align-items-center">
                    <li class="ps-0">20 May 2021</li>
                    <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                </ul>
                <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="panel">
            <img class="panel-img-top img-responsive" src="{% static 'assets/images/big/img4.jpg' %}" alt="Card">
            <div class="panel-body">
                <ul class="list-inline d-flex align-items-center">
                    <li class="ps-0">20 May 2021</li>
                    <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                </ul>
                <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- Recent maintenance -->
<!-- ============================================================== -->