{% load static %}

<script src="{% static 'assets/plugins/jquery/dist/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/html2canvas-1.4.1/html2canvas.min.js' %}"></script>
<script src="{% static 'assets/plugins/jspdf.min.js_1.5.3/cdnjs/jspdf.min.js' %}"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Chart.js-->
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
<!--This page JavaScript -->
<!--flot chart-->

<link href="{% static 'assets/plugins/fontawesome-free-6.1.1-web/css/all.min.css' %}"> 

<script src="{% static 'assets/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'assets/plugins/moment-2.29.3/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'assets/plugins/dselect/js/dselect.js' %}"></script>
<script src="{% static 'main.js' %}"></script>

