{% load static %}


<script src="{% static 'assets/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'main.js' %}"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Chart.js-->
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
<!--This page JavaScript -->
<!--flot chart-->
<script src="{% static 'assets/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>


