{% load i18n %}

<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="/" aria-expanded="false"><i class="me-3 far fa-clock fa-fw"
                    aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                </li>

                <hr>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:maintenance_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-columns" aria-hidden="true"></i><span class="hide-menu">{% trans "Maintenances" %}</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:component_list' %}" aria-expanded="false"><i class="me-3 fa 
                    fa-camera"
                        aria-hidden="true"></i><span class="hide-menu"> {% trans "Components" %} </span></a>
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:allocation_list' %}" aria-expanded="false"><i class="me-3 fa fa-font"
                    aria-hidden="true"></i><span class="hide-menu"> {% trans "Allocations" %} </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:workorder_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-address-book-o" aria-hidden="true"></i><span class="hide-menu">{% trans "Work Orders" %}</span></a>
                </li>
                
                <hr>
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:vendor_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-users" aria-hidden="true"></i><span class="hide-menu">{% trans "Vendors" %}</span></a>
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:company_list' %}" aria-expanded="false"><i class="me-3 fa 
                    fa-building"
                    aria-hidden="true"></i><span class="hide-menu"> {% trans "Companies" %} </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:division_list' %}" aria-expanded="false"><i class="me-3 fa fa-square"
                    aria-hidden="true"></i><span class="hide-menu"> {% trans "Divisions" %} </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:branch_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-circle-o" aria-hidden="true"></i><span class="hide-menu">{% trans "Branches" %}</span></a>
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:position_list' %}" aria-expanded="false"><i class="me-3 fa 
                    fa-location-arrow"
                    aria-hidden="true"></i><span class="hide-menu"> {% trans "Positions" %} </span></a>
                </li>

                <hr>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:group_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-object-group"
                    aria-hidden="true"></i><span class="hide-menu"> {% trans "Groups" %} </span></a>
                </li>

                 <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:system_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-bicycle" aria-hidden="true"></i><span class="hide-menu">{% trans "Systems" %}</span></a>
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:type_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-binoculars"></i><span class="hide-menu"> {% trans "Types" %} </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:subtype_list' %}" aria-expanded="false">
                    <i class="me-3 fa fa-bell-o" aria-hidden="true"></i><span class="hide-menu"> {% trans "SubTypes" %}</span> </span></a>
                </li>

                <hr>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'asset_app:settings_create' %}" aria-expanded="false">
                    <i class="me-3 fa fa-file-o" aria-hidden="true"></i><span class="hide-menu"> {% trans "Settings" %}</span> </span></a>
                </li>

            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->