{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %} {{ block.super }} | {% trans 'Tax Details' %} {% endblock title %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='Tax Details' path='<a href="/taxes/"> taxes</a>' dest='Details'  %}
{% endblock breadcrumb %}

{% block content %}
    
    <div class="contentContainer">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ tax.name }}</h1>
                <a href="{% url 'isis:tax_create' %}" 
                    class="fa fa-plus-circle btn btn-primary">
                   
                </a> 
                <a href="{% url 'isis:tax_update' tax.slug %}" 
                    class="fa fa-pencil btn btn-secondary">
                     
                </a> 
                <a href="{% url 'isis:tax_list' %}" 
                    class="fa fa-list btn btn-info">
                    {% trans 'List' %} 
                </a>
                
                <button class="btn btn-primary fa fa-copy" onclick="cloneTax('{% url 'isis:tax_create' %}');">
                    Clone
                </button>
                <hr>
                <h6>{% trans 'Rate (%)' %}: <strong> <span>{{ tax.rate }}</span></strong></h6>
                <h6>{% trans 'Active' %}: <strong> 
                    <span>  
                        {% if tax.active_status %} {% trans 'Active' %}
                        {% else %} {% trans 'Not Active' %}
                        {% endif %}
                    </span> </strong>
                </h6>
                <h6>{% trans 'Notes' %}: <strong> <span>{{ tax.notes }}</span></strong></h6>
    
                <hr>
                <p>{% trans 'Created on' %}: <i>{{ tax.date_created}}</i></p>
                <p>{% trans 'Creted by' %}: <i>{{ tax.created_by }}</i></p>
                <p>{% trans 'Modified on' %}: <i>{{ tax.date_modified }}</i></p>
                <p>{% trans 'Modified by' %}: <i>{{ tax.modified_by }}</i></p>
            </div>
        </div>
        {% csrf_token %}
    </div>
{% endblock content %}
