{% extends 'index.html' %}

{% load static %}
{% load i18n %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='Allocations' path='Allocations' only%}
{% endblock breadcrumb %}

{% block content %}
    {% csrf_token %}

    <div class="contentContainer">
        <a href="{% url 'asset_app:allocation_create' %} " class="btn btn-info fa fa-plus-circle">
           
        </a>
      
        <button class="btn btn-danger delete-btn fa fa-minus-square" data-toggle="modal"
        onclick="DeleteItems('#sortTableLarge', '{% url 'asset_app:allocation_create' %}')">
             
        </button>
        <hr>

        <table id="sortTableLarge" class="table table-striped display responsive nowrap">
            <thead>
                <tr class="p-0 m-0">
                    <th style="padding-left: 11px;">
                        <input type="checkbox" id="checkall" name="main_Checkbox" 
                        value="" style="vertical-align: middle"> 
                    </th>
                    <th style="text-align: left;">System No.</th>
                    <th>Component</th>
                    <th>Serial No.</th>
                    <th>Costumer</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                    
                        <tr data-id="{{ obj.id }}" class="row{{ obj.id }}" 
                        {% if obj.status == '0' or obj.status == 'Broken' %}    
                            style="background-color: #f9af9f;"
                        {% endif %}>

                            <td with="10"> <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                                value="" style="vertical-align: middle">
                            </td>
                            <td>{{ obj.allocation_no }}</td>
                            <td>{{ obj.component }}</td>
                            <td>{{ obj.serial_number }}</td> </td>
                            <td>{{ obj.costumer }}</td>
                            <td> <a href="{% url 'asset_app:allocation_update' obj.slug  %}" 
                                    class="fa fa-pencil btn btn-secondary">
                                     
                                </a> 
                            
                                <a href="{% url 'asset_app:allocation_details' obj.slug %}" 
                                class="fa fa-eye btn btn-secondary">
                                     
                                </a> 
                            </td>
                        </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    
