{% extends 'index.html' %}

{% load static %}
{% load i18n %}

{% block breadcrumb %}
    {% include 'breadcrumb.html' with title='List of Components' path='Components' %}
{% endblock breadcrumb %}

{% block content %}
    
    {% csrf_token %}
    
    <div class="contentContainer">
        <a href="{% url 'asset_app:component_create' %} " class="btn btn-info fa fa-plus-circle">
           
        </a>

        <button class="btn btn-danger delete-btn fa fa-minus-square" data-toggle="modal"
        onclick="DeleteItems('#sortTableLarge', '{% url 'asset_app:component_delete' %}')">
             
        </button>
        <hr>

        <table id="sortTableLarge" class="table table-striped display responsive nowrap">
            <thead>
                <tr class="p-0 m-0">
                    <th style="padding-left: 11px;">
                        <input type="checkbox" id="checkall" name="main_Checkbox" 
                        value="" style="vertical-align: middle"> 
                    </th>
                    <th style="text-align: left;">System No.</th>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Stock Cod.</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                    <tr data-id="{{ obj.id }}">
                        
                            <td with="10"> <input type="checkbox" id="{{ obj.id }}" class="rowcheckbox" 
                                value="" style="vertical-align: middle">
                            </td>
                            <td>{{ obj.component_system_no }}</td>
                            <td>{{ obj.component_name }}</td>
                            <td>{{ obj.component_manufacturer }}</td>
                            <td>{{ obj.component_stock_code }}</td>
                            <td> <a href="{% url 'asset_app:component_update' obj.slug %}" 
                                    class="fa fa-pencil btn btn-secondary">
                                     
                                </a> 
                           
                                <a href="{% url 'asset_app:component_details' obj.slug %}" 
                                class="fa fa-eye btn btn-secondary">
                                     
                                </a> 
                            </td>
                    </tr>
                {% empty %}
                        <p>{% trans 'No Items to Show' %} </p>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    
